body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
  }

.container {
    display: block;
    margin:80px auto 0;
    width: 400px;   
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style:none;
    padding: 10px;
    overflow: hidden;
    
}

li > label {
width:277px;
}
   
h3 {
    font-weight: 600;
    font-size: medium;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

input, button {
    outline:none;
}
button {
    background:none;
    border: 0px;
    font-size: medium;
    color: rgb(185, 185, 185);
    widows: 80px;
}
button:hover{
    cursor: pointer;
   color:gray;
}
input[type="text"] {
   font-size: medium;
    border-radius: 10px;
    background-color: none;
    color: #888;
    height: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    border: 1px solid gainsboro;
}

input[type="text"]:focus {
    color: #333;
}

ul li input[type="text"] {
    display:none;
}
/* edit task */
ul li.editmode {
    display:block;
}
ul li.editmode label {
    display: none;
}
ul li.editmode input[type="text"] {
   display:inline-block;
}
/*completed task */

#completed {
    text-decoration: line-through;
    color: #888;
}
